body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 80px;
}


nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 0 10px 0 20px;
}